body {
    font-family: "Roboto", Roboto, Arial, sans-serif;
    font-size: 18px;
}

.button {
    font-size: 15px;
    font-weight: 600;
    color: white;
    border-style: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 3%;
}
.button-main {
    background-color: #eb6a5a;

}

.button-main:hover {
    background-color: #e36354;
}

.button-sec {
    background-color: #3DB833;
}

.button-sec:hover {
    background-color: #31a227;
}

/*HEADER STYLE*/

.header {
    background-color: #46699e;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: 90%;
    margin: 0 auto;
}

.header-content__logo {
    padding: 10px 30px;
    color: #e8ecec;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.header-content__logo:hover {
    color: #d7d5d5;
}

/*SHOWCASE STYLE*/

.showcase {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.showcase-item {
    width: 1024px;
    height: 12vh;
    margin: 10px auto;
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d7d5d5;
}

.showcase-item__logo {
    width: 150px;
}
.showcase-item__logo img{
    width: 100%;
}

