body {
    font-family: "Roboto", Roboto, Arial, sans-serif;
    font-size: 15px;
}

.button {
    font-size: 15px;
    font-weight: 600;
    color: white;
    border-style: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 3%;
}
.button-main {
    background-color: #eb6a5a;

}

.button-main:hover {
    background-color: #e36354;
}

.button-sec {
    background-color: #3DB833;
}

.button-sec:hover {
    background-color: #31a227;
}

/*HEADER STYLE*/

.header {
    background-color: #46699e;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: 90%;
    margin: 0 auto;
}

.header-content__logo {
    padding: 10px 30px;
    color: #e8ecec;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.header-content__logo:hover {
    color: #d7d5d5;
}

/*SHOWCASE STYLE*/

.showcase {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.showcase-item {
    box-sizing: content-box;
    width: 90%;
    height: 15vh;
    padding: 0 15px;
    margin: 0 auto 10px;
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d7d5d5;
}

.showcase-item__logo {
    width: 150px;
}
.showcase-item__logo img{
    width: 100%;
    margin-left: 3px;
}

/*SEARCH FORM STYLE*/

.search-form {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

/*FOOTER STYLES*/

.footer {
    width: 100%;
    padding: 10px 0 20px;
    background-color: #46699e;
    text-align: center;
}

/*BURGER BTN*/
.container-btn {
    display: none;
    justify-content: center;
    width: 100%;
}
.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-btn__burger {
    width: 40px;
    height: 3px;
    background: #fff;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    left: 5px;
    width: 40px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    transition: all .4s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-10px);
}

.menu-btn__burger::after {
    transform: translateY(10px);
}

/*BURGER BTN ANIMATION*/

.menu-btn.open .menu-btn__burger {
    transform: translateX(-40px);
    background: transparent;
}

.menu-btn.open .menu-btn__burger:before {
    transform: rotate(45deg) translate(25px, -25px);
}

.menu-btn.open .menu-btn__burger:after {
    transform: rotate(-45deg) translate(25px, 25px);
}

.footer-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    list-style: none;
}

.footer-nav__link {
    display: block;
    padding: 10px 5px;
    border-bottom: 2px solid transparent;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-nav__link:hover {
    color: #d7d5d5;
    border-bottom: 2px solid #d7d5d5;
}

.footer-rights {
    margin-top: 30px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
}

/* tablet */
@media screen and (max-width: 768px) {

    .showcase-item {
        width: 100%;
        height: 40vh;
        flex-direction: column;
        justify-content: center;
    }

    .showcase-item__logo {
        margin-bottom: 15px;
    }

    .showcase-item-credit {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }

    .showcase-item-credit div {
        padding-left: 5px;
    }

    .container-btn {
        display: flex;
    }

    .footer-nav {
        display: none;
    }
}
