body {
    font-family: "Roboto", Roboto, Arial, sans-serif;
    font-size: 15px;
}

.button {
    font-size: 15px;
    font-weight: 600;
    color: white;
    border-style: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 3%;
    background-color: transparent;
}
.button-main {
    background-color: #eb6a5a;

}

.button-main:hover {
    background-color: #e36354;
}

.button-sec {
    background-color: #3DB833;
}

.button-sec:hover {
    background-color: #31a227;
}

/*HEADER STYLE*/

.header {
    background-color: #46699e;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 90%;
    margin: 0 auto;
}

.header-content__logo {
    padding: 10px 30px;
    color: #e8ecec;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.header-content__logo:hover {
    color: #d7d5d5;
}

/*MODAL POP-UP*/

.pop-up {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    height: 70px;
    text-align: center;
    background-color: #46699e;
    border-radius: 3px;
    vertical-align: center;
}

.show {
    display: block;
}


.button-close:after {
    font-family: 'Segoe MDL2 Assets';
    content: '';
    position: absolute;
    top: 8px;
    right: 5px;
    color: #fff;
    width: 25px;
    height: 25px;
}

.pop-up__content p{
    color: #fff;
    margin: 0;
}


/*SHOWCASE STYLE*/

.showcase {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.showcase-item {
    box-sizing: content-box;
    width: 90%;
    min-height: 16vh;
    padding: 0 15px;
    margin: 0 auto 10px;
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d7d5d5;
}

.showcase-item:last-child {
    border-bottom: none;
}

.showcase-item__logo {
    width: 150px;
}
.showcase-item__logo img{
    width: 100%;
    margin-left: 3px;
}

/* SEPARATOR */

.separator {
    width: 30%;
    margin: 40px auto;
    border-bottom: 1px solid #46699e;
}
/*SEARCH FORM STYLE*/

.search-form {
    width: 50%;
    margin: 0 auto 20px;
    text-align: center;
}

.search-form__title {
    font-size: 20px;
    font-weight: 600;
    color: #242424;
}

#___gcse_0 td.gsc-search-button button{
    width: 120px;
    font-size: 15px;
    background-color: #eb6a5a;
    color: white;
    cursor: pointer;
}

#___gcse_0 td.gsc-search-button button:hover {
    background-color: #e36354;
}
#___gcse_0 td.gsc-input {
    padding-right: 0;
}

/*FOOTER STYLES*/

.footer {
    width: 100%;
    padding: 10px 0 20px;
    background-color: #46699e;
    text-align: center;
}

/*BURGER BTN*/
.container-btn {
    display: none;
    justify-content: center;
    width: 100%;
}
.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-btn__burger {
    width: 40px;
    height: 3px;
    background: #fff;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    left: 5px;
    width: 40px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    transition: all .4s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-10px);
}

.menu-btn__burger::after {
    transform: translateY(10px);
}

/*BURGER BTN ANIMATION*/

.menu-btn.open .menu-btn__burger {
    transform: translateX(-40px);
    background: transparent;
}

.menu-btn.open .menu-btn__burger:before {
    transform: rotate(45deg) translate(25px, -25px);
}

.menu-btn.open .menu-btn__burger:after {
    transform: rotate(-45deg) translate(25px, 25px);
}

/* NAVIGATION */

.footer-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    list-style: none;
}

.footer-nav__link {
    display: block;
    padding: 10px 5px;
    border-bottom: 2px solid transparent;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-nav__link:hover {
    color: #d7d5d5;
    border-bottom: 2px solid #d7d5d5;
}

.footer-rights {
    margin-top: 30px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
}

/* MOBILE */
@media screen and (max-width: 768px) {

    .showcase-item {
        box-sizing: border-box;
        width: 100%;
        height: 40vh;
        min-height: 250px;
        flex-direction: column;
        justify-content: center;
    }

    .showcase-item__logo {
        margin-bottom: 15px;
    }

    .showcase-item-credit {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }

    .showcase-item-credit div {
        padding-left: 5px;
    }

    .container-btn {
        display: flex;
    }

    /* SEARCH FORM MOBILE*/

    .search-form {
        width: 70%;
    }

    #___gcse_0 td{
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .gsib_a{
        padding: 5px 0 !important;
    }

    #___gcse_0 td.gsc-input{
        margin-left: 3px;
        max-width: 100%;
        border: 1px solid #eb6a5a;
    }

    #___gcse_0 td.gsc-search-button button{
        min-width: 100%;
        margin: 10px 0 0 0 !important;
    }

    #___gcse_0 td.gsc-search-button {
        min-width: 100%;
    }

    /* FOOTER MOBILE */

    .footer-nav {
        display: none;
    }
}


